.color-tx-pri {
  color: var(--primary-clr);
}

.color-tx-sec {
  color: var(--secondary-clr);
}
.color-tx-teri {
  color: var(--teritary-clr);
}
.color-neg {
  color: var(--cl-neg);
}

.color-success {
  color: var(--cl-success);
}

.bg-color-transparent {
  background-color: transparent;
}

.bg-color-white {
  background-color: #fff;
}

.bg-color-cl-sec {
  background-color: var(--secondary-clr);
}

.bg-color-tx-pri {
  background-color: var(--primary-clr);
}

.bg-color-tx-sec {
  background-color: var(--secondary-clr);
}

.bg-color-tx-teri {
  background-color: var(--teritary-clr);
}

.bg-color-negative {
  background-color: var(--cl-neg);
}

.bg-color-success {
  background-color: var(--cl-success);
}
